<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/stone.css"> 
    </head>
<style>
table, th, td {
  border: 1px solid black;
border-collapse: collapse;
}
th, td {
  text-align: left;    
}
</style>
    <body>
        <%var players = [];%> 
        <%var player_winning_count=[[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]]; %>
 <%function input(){var turn = Math.floor(Math.random() * Math.floor(3))%>
    <% if(turn == 0){
        return "Rock" ;
    }%>
    <%if(turn == 1){
       return "Paper" ;
    }%>
    <%if(turn == 2){
        return "Scissors" ;
    }%>
    <%}%>
 
<%var length = 4%> 
        <%for(var t=1;t<=50;t++){%>
            Game No. <%= t%>

        <table style="width:50%"  >
            <tr>
                <td> Player 1 </td>
                <td> Player 2 </td>
                <td> Player 3 </td>
                <td> Player 4 </td>
            </tr>  
            <tr>
             <% for(var i=0;i<length;i++){ 
         players[i]=input()%>
        <td><%= players[i]%></td>
        <%}%>
             </tr>
           </table> 
           <br><br>
           <table style="width:50%" >
               <tr>
                   <td>Totals</td>
                   <td></td>
                   <td colspan="4">Against</td>
               </tr>
               <tr>
                   <td></td><td></td>
                <td> Player 1 </td>
                <td> Player 2 </td>
                <td> Player 3 </td>
                <td> Player 4 </td>
               </tr>
<%for (var i=0;i<length;i++) { %>
      <tr> 
        <%if(i==0){%>
           <th rowspan="4">Player Wins</th>
        <%}%>
        <td>Player <%=i+1%></td>
        <% for (var j=0;j<length;j++){%>
            <%if (j>=i){%>
           <%if(i===j) {
            player_winning_count[i][j]= '-';
           }%>
           <%if(players[i]===players[j]) {
            
           }%>
           <%if(players[i] === "Rock") {
               if(players[j] === "Scissors") {
                   player_winning_count[i][j]=player_winning_count[i][j]+1;
               } else {
                if(players[j] === "Paper") {
                    player_winning_count[j][i]=player_winning_count[j][i]+1;
            }
        }
           }%>
           <%if(players[i] === "Paper") {
               if(players[j] === "Rock") {
                   player_winning_count[i][j]=player_winning_count[i][j]+1;
               } else {
                   if(players[j] === "Scissors") {
                       player_winning_count[j][i]=player_winning_count[j][i]+1;
               }
           }}%>
           <% if(players[i] === "Scissors") {
               if(players[j] === "Rock") {
                   player_winning_count[j][i]=player_winning_count[j][i]+1;
               } else {
                   if(players[j] === "Paper") {
                       player_winning_count[i][j]=player_winning_count[i][j]+1;
                   }
               }
               }%>
               <%}%>
               <td><%= player_winning_count[i][j] %></td>
           <%}%>
        </tr>
          <%}%> 
               </table>
           <br><br>
           <%}%>
    </body>
</html>
